.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #445a71;
  height: 100%;
  width: 100%;

  .title {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 0.5rem;
  }
}

.weather-container {
  margin-top: 1.2rem;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  >* {
    padding: 0.3rem 0;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
    padding: 0 0 1rem;
  }

  .inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0.6rem 0;

    >div {
      margin: 0 0.5rem;
    }

    .current-weather {
      height: fit-content;
      font-size: 2rem;
    }

    .image {
      width: 4rem;
      height: 4rem;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.9rem;
  }
}

.is-primary {
  background-color: #00d1b2;
}

.is-secondary {
  background-color: #3273dc;
}